.nav-container {
    background: #000000;
  }
  
  .nav-container a {
    color: white;
  }
  
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2em;
  }
  
  header .logo {
    color: #ffffff;
    font-weight: bold;
  }
  
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  header ul a {
    display: block;
    padding: 0 1em;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  